<h1>Customer List</h1>
<app-customer></app-customer>
<app-testcustompipe></app-testcustompipe>

<!-- <h1>Welcome to !</h1>
<button (click) = 'increment()'>Increment</button>
<button (click) = 'decrement()'>Decrement</button>
<app-passingdata-pc [count] = 'Counter'></app-passingdata-pc> -->


<!-- <h1>Parent count: {{countP}}</h1>
<app-passingdata-cp (countChanged)="countChangedHandler($event)"></app-passingdata-cp> -->

<!-- <button (click)="child.increment()">Increment</button>
<button (click)="child.decrement()">Decrement</button>
<h1>Parent count : {{child.count}}</h1>
<app-passingdata-cp #child></app-passingdata-cp> -->
<h1>{{countp}}</h1>
<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
<app-passingdata-cp ></app-passingdata-cp>